services:
    _defaults:
        autowire: true
        autoconfigure: true

    Raum51\ContaoZoteroBundle\Service\ApiLogCollector: ~

    Raum51\ContaoZoteroBundle\Service\ZoteroStopwordService: ~
    Raum51\ContaoZoteroBundle\Service\ZoteroSearchService: ~
    Raum51\ContaoZoteroBundle\Service\ZoteroSyncService:
        arguments:
            $logger: '@monolog.logger.contao.general'
            $slug: '@contao.slug'
    Raum51\ContaoZoteroBundle\Service\ZoteroLocaleService:
        arguments:
            $logger: '@monolog.logger.contao.general'
    Raum51\ContaoZoteroBundle\Service\ZoteroClient:
        arguments:
            $logger: '@monolog.logger.contao.general'
            $apiLogCollector: '@Raum51\ContaoZoteroBundle\Service\ApiLogCollector'

    Raum51\ContaoZoteroBundle\:
        resource: '../../src/'
        exclude: '../../src/{ContaoManager,DependencyInjection,Raum51ContaoZoteroBundle.php}'

    Raum51\ContaoZoteroBundle\Twig\ZoteroDumpExtension:
        tags: [twig.extension]

    Raum51\ContaoZoteroBundle\Controller\BibExportController:
        public: true
        tags: [{ name: controller.service_arguments }]
    Raum51\ContaoZoteroBundle\Controller\AttachmentProxyController:
        public: true
        arguments:
            $logger: '@monolog.logger.contao.general'
            $slug: '@contao.slug'
        tags: [{ name: controller.service_arguments }]

    Raum51\ContaoZoteroBundle\Command\TestZoteroClientCommand:
        tags: [{ name: console.command }]
    Raum51\ContaoZoteroBundle\Command\ZoteroSyncCommand:
        arguments:
            $logger: '@monolog.logger.contao.error'
        tags: [{ name: console.command }]
    Raum51\ContaoZoteroBundle\Command\ZoteroItemCommand:
        tags: [{ name: console.command }]
    Raum51\ContaoZoteroBundle\Command\FetchLocalesCommand:
        tags: [{ name: console.command }]

    Raum51\ContaoZoteroBundle\EventListener\DataContainer\ZoteroItemOptionsCallback:
        public: true
    Raum51\ContaoZoteroBundle\EventListener\DataContainer\ZoteroLibraryOptionsCallback:
        public: true
    Raum51\ContaoZoteroBundle\EventListener\DataContainer\CreatorMapLabelCallback:
        public: true
    Raum51\ContaoZoteroBundle\EventListener\DataContainer\CreatorMapMemberOptionsCallback:
        public: true
    Raum51\ContaoZoteroBundle\EventListener\DataContainer\ZoteroItemTypesOptionsCallback:
        public: true

    Raum51\ContaoZoteroBundle\Cron\ZoteroSyncCron:
        arguments:
            $logger: '@monolog.logger.contao.cron'
        tags:
            - { name: contao.cronjob, interval: hourly }
