services:
    _defaults:
        autowire: true
        autoconfigure: true

    Raum51\ContaoZoteroBundle\Service\ZoteroSyncService:
        arguments:
            $logger: '@monolog.logger.raum51_zotero'
            $slug: '@contao.slug'
    Raum51\ContaoZoteroBundle\Service\ZoteroClient:
        arguments:
            $logger: '@monolog.logger.raum51_zotero'

    Raum51\ContaoZoteroBundle\:
        resource: '../../src/'
        exclude: '../../src/{ContaoManager,DependencyInjection,Raum51ContaoZoteroBundle.php}'

    Raum51\ContaoZoteroBundle\Controller\BibExportController:
        public: true
        tags: [{ name: controller.service_arguments }]
    Raum51\ContaoZoteroBundle\Controller\AttachmentProxyController:
        public: true
        arguments:
            $logger: '@monolog.logger.raum51_zotero'
        tags: [{ name: controller.service_arguments }]

    Raum51\ContaoZoteroBundle\Migration\CreateZoteroTablesMigration:
        tags: [{ name: contao.migration }]
    Raum51\ContaoZoteroBundle\Migration\AddLastSyncVersionMigration:
        tags: [{ name: contao.migration }]
    Raum51\ContaoZoteroBundle\Migration\CollectionParentIdNullMigration:
        tags: [{ name: contao.migration }]
    Raum51\ContaoZoteroBundle\Migration\AddZoteroItemAliasMigration:
        arguments:
            $slug: '@contao.slug'
        tags: [{ name: contao.migration }]
    Raum51\ContaoZoteroBundle\Migration\ZoteroItemAliasBinaryNotNullMigration:
        arguments:
            $slug: '@contao.slug'
        tags: [{ name: contao.migration }]

    Raum51\ContaoZoteroBundle\Command\TestZoteroClientCommand:
        tags: [{ name: console.command }]
    Raum51\ContaoZoteroBundle\Command\ZoteroSyncCommand:
        tags: [{ name: console.command }]
