services:
    _defaults:
        autowire: true
        autoconfigure: true

    Raum51\ContaoZoteroBundle\Service\ApiLogCollector: ~

    Raum51\ContaoZoteroBundle\Service\ZoteroStopwordService: ~
    Raum51\ContaoZoteroBundle\Service\ZoteroSearchService: ~
    Raum51\ContaoZoteroBundle\Service\ZoteroSyncService:
        arguments:
            $logger: '@monolog.logger.raum51_zotero'
            $slug: '@contao.slug'
    Raum51\ContaoZoteroBundle\Service\ZoteroLocaleService:
        arguments:
            $logger: '@monolog.logger.raum51_zotero'
    Raum51\ContaoZoteroBundle\Service\ZoteroClient:
        arguments:
            $logger: '@monolog.logger.raum51_zotero'
            $apiLogCollector: '@Raum51\ContaoZoteroBundle\Service\ApiLogCollector'

    Raum51\ContaoZoteroBundle\:
        resource: '../../src/'
        exclude: '../../src/{ContaoManager,DependencyInjection,Raum51ContaoZoteroBundle.php}'

    Raum51\ContaoZoteroBundle\Controller\BibExportController:
        public: true
        tags: [{ name: controller.service_arguments }]
    Raum51\ContaoZoteroBundle\Controller\AttachmentProxyController:
        public: true
        arguments:
            $logger: '@monolog.logger.raum51_zotero'
        tags: [{ name: controller.service_arguments }]

    Raum51\ContaoZoteroBundle\Command\TestZoteroClientCommand:
        tags: [{ name: console.command }]
    Raum51\ContaoZoteroBundle\Command\ZoteroSyncCommand:
        tags: [{ name: console.command }]
    Raum51\ContaoZoteroBundle\Command\ZoteroItemCommand:
        tags: [{ name: console.command }]
    Raum51\ContaoZoteroBundle\Command\FetchLocalesCommand:
        tags: [{ name: console.command }]

    Raum51\ContaoZoteroBundle\EventListener\DataContainer\ZoteroReaderModuleOptionsCallback:
        public: true
    Raum51\ContaoZoteroBundle\EventListener\DataContainer\ZoteroLibraryOptionsCallback:
        public: true
    Raum51\ContaoZoteroBundle\EventListener\DataContainer\ZoteroSearchModuleOptionsCallback:
        public: true
    Raum51\ContaoZoteroBundle\EventListener\DataContainer\ZoteroItemTypesOptionsCallback:
        public: true
    Raum51\ContaoZoteroBundle\Migration\ConvertZoteroLibraryToLibrariesMigration:
        tags: [{ name: contao.migration, priority: 0 }]
    Raum51\ContaoZoteroBundle\Migration\AddZoteroSearchModuleFieldsMigration:
        tags: [{ name: contao.migration, priority: 0 }]
    Raum51\ContaoZoteroBundle\Migration\AddZoteroItemTypesMigration:
        tags: [{ name: contao.migration, priority: 0 }]
    Raum51\ContaoZoteroBundle\Migration\AddZoteroListConfigMigration:
        tags: [{ name: contao.migration, priority: 0 }]
    Raum51\ContaoZoteroBundle\Migration\AddZoteroListSortDirectionDateMigration:
        tags: [{ name: contao.migration, priority: 0 }]
    Raum51\ContaoZoteroBundle\Migration\AddCiteContentMarkupMigration:
        tags: [{ name: contao.migration, priority: 0 }]
    Raum51\ContaoZoteroBundle\Migration\AddItemCreatorSortingMigration:
        tags: [{ name: contao.migration, priority: 0 }]
    Raum51\ContaoZoteroBundle\Migration\CreateLocalesTableMigration:
        tags: [{ name: contao.migration, priority: 0 }]
    Raum51\ContaoZoteroBundle\Migration\DropItemTypesTableMigration:
        tags: [{ name: contao.migration, priority: -1 }]
    Raum51\ContaoZoteroBundle\Migration\ConvertLocalesToContaoFormatMigration:
        tags: [{ name: contao.migration, priority: -2 }]
