services:
    _defaults:
        autowire: true
        autoconfigure: true

    Raum51\ContaoZoteroBundle\:
        resource: '../../src/'
        exclude: '../../src/{ContaoManager,DependencyInjection,Raum51ContaoZoteroBundle.php}'

    Raum51\ContaoZoteroBundle\Migration\CreateZoteroTablesMigration:
        tags: [{ name: contao.migration }]
    Raum51\ContaoZoteroBundle\Migration\AddZoteroUniqueIndexesMigration:
        tags: [{ name: contao.migration, priority: -1 }]
