services:
    _defaults:
        autowire: true
        autoconfigure: true

    Raum51\ContaoZoteroBundle\:
        resource: '../../src/'
        exclude: '../../src/{ContaoManager,DependencyInjection,Raum51ContaoZoteroBundle.php}'

    Raum51\ContaoZoteroBundle\Migration\CreateZoteroTablesMigration:
        tags: [{ name: contao.migration }]
    Raum51\ContaoZoteroBundle\Migration\AddLastSyncVersionMigration:
        tags: [{ name: contao.migration }]
    Raum51\ContaoZoteroBundle\Migration\CollectionParentIdNullMigration:
        tags: [{ name: contao.migration }]

    Raum51\ContaoZoteroBundle\Command\TestZoteroClientCommand:
        tags: [{ name: console.command }]
    Raum51\ContaoZoteroBundle\Command\ZoteroSyncCommand:
        tags: [{ name: console.command }]
